{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Cart{% endblock %}

{% block content %}
<section class="container">
    <!-- Total and checkout button -->
    <div class="row cart-row">
        <div class="col-12">
            <p>Total</p>
            <p><span class="" aria-hidden="true">£</span>{{ total }}</p>
            {% if total > 0 %}
                <a href="{% url 'checkout' %}" class="btn atc-btn" role="button">
                    <span class="" aria-hidden="true">Checkout</span>
                </a>
            {% else %}
                <p>Your cart is now empty. Return to <a class="coloured-links" href="{% url 'store' %}">store</a>.</p>
            {% endif %}

        </div>
    </div>

    <!-- Cart items -->
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto image-cols">
            {% for item in cart_items %}
                <div class="card cart-cards">
                    <div class="card-body store-cards">
                        <img src="{{ item.product.image }}" class="card-img-top img-fluid" alt="item.product.description">
                        <p class="store-price">£{{ item.product.price }}</p>
                        <form action="{% url 'adjust_cart' item.id %}" class="form-group" method="POST">
                            {% csrf_token %}
                            <div class="form-control cart-quantity">Quantity Selected : {{ item.quantity }}</div>
                            <div class="form-group">
                                <input type="number" class="form-control store-form-item" name="quantity" min="0" max="5"
                                       placeholder="Amend Quantity">
                                <button class="btn form-control store-form-item atc-btn"
                                        type="submit">Amend Quantity</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endblock %}