{% load static %}
<!-- Footer -->

<footer id="main-footer" class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4 copywright-info">
            <p>All images are Copywright &copy; of Jamie Boyd Photography</p>
        </div>
        <div class="col-12 col-lg-4">
            <p class="dev-icon">Website Developer:
                <a href="https://github.com/jboyd8" target="_blank" rel="noopener">
                <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
        <div class="col-12 col-lg-4 socials">
            <p class="follow-me">Follow me here -></p>
            <ul class="list-inline">
                <li class="list-inline-item social-item">
                    <a href="https://500px.com/jamieboyd" target="_blank" rel="noopener">
                        <i class="fab fa-500px"></i>
                    </a>
                </li>
                <li class="list-inline-item social-item">
                    <a href="https://www.instagram.com/jamieboyddd/" target="_blank" rel="noopener">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</footer>