{% load static %}
<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top header">
  <!-- Website title -->
  <!-- Button to collapse for mobile view -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Link to website pages -->
  <div class="collapse navbar-collapse options2" id="navbarSupportedContent">
    <ul class="navbar-nav">

      <li class="nav-item {{ index }}">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>

      <li class="nav-item {{ about }}">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>

      <li class="nav-item {{ blogs }}">
        <a class="nav-link" href="{% url 'blogs' %}">Blog</a>
      </li>

      <li class="nav-item {{ gallery }}">
          <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
      </li>

      <li class="nav-item {{ contact }}">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </li>

      <li class="nav-item {{ store }}">
        <a class="nav-link" href="{% url 'store' %}" >Store</a>
      </li>

      <!-- Conditional logic to show correct option based on whether the user is logged in or not.-->
      {% if user.is_authenticated %}

      <li class="nav-item {{ cart }}">
          <a class="nav-link" href="{% url 'view_cart' %}">
              <i class="fa fa-shipping-cart"></i>Cart
              {% if product_count > 0 %}
                  <label class="badge">{{ product_count }}</label>
              {% endif %}
          </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" >Logout</a>
      </li>

      {% else %}

      <li class="nav-item {{ login }}">
        <a class="nav-link" href="{% url 'login' %}" >Login</a>
      </li>

      <li class="nav-item {{ register }}">
        <a class="nav-link" href="{% url 'register' %}" >Register</a>
      </li>

      {% endif %}

    </ul>
  </div>
</nav>