{% extends 'base.html' %}

{% load static %}

{% block title %} About {% endblock %}

{% block content %}

<section class="container-fluid about-body">
    <div class="row">
        <div class="col-12 col-md-6 about-image">
            <img src="{% static 'img/aboutme.jpg' %}" alt="Me crouched over looking through my camera.">
        </div>
        <div class="col-12 col-md-6 about-text">
            <p>Hello, my name is Jamie Boyd. Welcome to my photography portfolio. Across my site you will be able to
            browse some of my favourite images. My absolute favourites will be available in the store to buy as
            a print, available at different sizes.</p>
            <p>I've enjoyed photography for a long time now, following multiple photographers and admiring their work.
            However, it has only been in the last couple of years that I have taken it up as a hobby myself. There is
             nothing better than going out into nature and waiting for the light to hit to try and capture that perfect
            image.</p>
            <p>I would love to get your feedback on my images. So be sure to use the contact form if you want to do so.
            Additionally, if the print size you would like is not on the dropdown list, feel free to get in touch and we
             can discuss the possibility.</p>
        </div>
    </div>
</section>

{% endblock %}