{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="container login-body">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header user-card-header">
                    <h5>Login</h5>
                </div>
                <div class="card-body user-card-body">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{  form }}
                        </div>
                        <input type="submit" value="Login" class="btn btn-block user-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}