{% extends 'base.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<section class="container login-body">
    <div class="row">
        <div class="col-12 reg-login">
            <p>If you already have an account, you can log in <a href="{% url 'login' %}">here</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header user-card-header">
                    <h5>Register</h5>
                </div>
                <div class="card-body user-card-body">
                    {% include 'partials/_alerts.html' %}
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{  form }}
                        </div>
                        <input type="submit" value="Register" class="btn btn-block user-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}