/* html and body */

html, body {
    height: 100vh;
    background-color: #121212;
    color: #d7d9d7;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

body a {
    text-decoration: none;
    color: #d7d9d7;
}

body a:hover {
    color: #d7d9d7;
}

/* Header */
.header {
    height: 10%;
    margin-bottom: 2em;
}

/* Added solid backgrounds to menus to be able to read properly */

#navbarSupportedContent {
    background-color: #121212;
}

.navbar-dark {
    background-color: #121212;
}

.active {
    font-weight: bolder;
}

.options {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.options2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* General */

section {
    margin-top: 10%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

/* index */

.index-body {
    height: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#typewriter-app {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 3em;
}

@media (min-width: 992px) {
    #typewriter-app {
        font-size: 5em;
    }
}

/* About */

.about-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

@media (min-width: 992px){
    .about-body {
        padding-right: 2em;
        padding-left: 2em;
        font-size: 20px;
    }
}

.about-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.about-image,
.about-text {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 3em;
}

.about-image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.about-image img {
    border-radius: 50%;
}

/* Login */

.login-body {
    margin-top: 20%;
}

@media (min-width: 992px) {
    .login-body {
        margin-top: 10%;
    }
}

.user-card-header {
    background-color: #121212;
    color: #d7d9d7;
}

.user-card-body {
    background-color: #121212;
}

.form-control {
    margin: 2em 0;
}

.user-button {
    background-color: #d7d9d7;
}

/* Register */

.reg-login {
    text-align: center;
}

/* added underline so link is obvious */
.reg-login a {
    text-decoration: underline;
}

/* Blogs */

.blogs-row {
    padding: 5% 5%;
    padding-bottom: 0;
}

/* Media query to reduce the padding on bigger screens */

@media (min-width: 576px) {
    .blogs-row {
        padding: 2% 2%;
    }
}

.blogs-card {
    margin: 2em 0;
    text-align: center;
}

@media (min-width: 992px) {
    .blogs-card {
        height: 20vh;
    }
}

@media (min-width: 992px) {
    .blogs-title {
        font-size: 1.5em;
    }
}

.blogs-title {
    font-weight: bold;
}

.page-link,
.page-link:hover {
    background-color: #121212;
    color: #d7d9d7;
    border: none;
}

.page-item.disabled .page-link {
    background-color: #121212;
}

.pagination-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* Blog */

.breadcrumb-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2em;
}

.breadcrumb {
    background-color: #121212;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.blog-title {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #d7d9d7;
    font-size: 3em;
    padding: 1em 0;
}

.blog-body {
    padding: 0 15%;
    text-align: center;
}

/* Contact */

.contact-row {
    padding: 2em 1.5em;
}

/* Gallery */

.image-cols {
    padding: 1.5em;
}

.gallery-cards {
    border: none;
}

/* Added media query to bring structure to page on bigger screens */
@media (min-width: 992px) {
    .gallery-images {
        height: 30vh;
    }
}

/* Store */
.store-intro {
    padding: 20% 10% 5%;
    text-align: center;
}

@media (min-width: 768px) {
    .store-intro {
        padding-top: 5%;
    }
}

.store-cards {
    background-color: #121212;
    color: #d7d9d7;
    text-align: center;
    border: #d7d9d7 1px solid;
}

.store-form-item {
    margin: 0.5em 0;
}

.store-price {
    margin-top: 1rem;
}

.atc-btn {
    background-color: #d7d9d7;
    color: #121212;
}

/* Cart */

.cart-row {
    text-align: center;
}

.badge {
    background-color: #d7d9d7;
    color: #121212;
}

.cart-quantity {
    background-color: #121212;
    color: #d7d9d7;
    border: none;
    margin: 0.5em 0;
}

/* Checkout */

.checkout-total-row {
    justify-content: center;
}

.checkout-col {
    padding-left: 7.5%;
    padding-right: 7.5%;
}

@media (min-width: 768px) {
    .checkout-col {
        padding-right: 20%;
        padding-left: 20%;
    }
}

.checkout-card {
    text-align: center;
}

/* Footer */
#main-footer {
    height: 5%;
    margin-top: 2em;
    text-align: center;
}

.copywright-info {
    text-align: center;
}

.socials {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.dev-icon a {
    padding-left: 1em;
}
