/* html and body */

html, body {
    height: 100vh;
    background-color: #121212;
    color: #d7d9d7;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

body a {
    text-decoration: none;
    color: #d7d9d7;
}

body a:hover {
    color: #d7d9d7;
}

/* Header */
.header {
    height: 10%;
    margin-bottom: 2em;
}

.active {
    font-weight: bolder;
}

.options {
    justify-content: flex-end;
}

.options2 {
    justify-content: center;
}

/* General */

section {
    margin-top: 10%;
    flex: 1;
}

/* index */

.index-body {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#typewriter-app {
    height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3em;
}

@media (min-width: 992px) {
    #typewriter-app {
        font-size: 5em;
    }
}

/* About */

.about-body {
    height: 75%;
    display: flex;
    justify-content: center;
    align-content: center;
}

@media (min-width: 992px){
    .about-body {
        padding-right: 2em;
        padding-left: 2em;
        font-size: 20px;
    }
}

.about-image,
.about-text {
    text-align: center;
    align-self: center;
    padding: 3em;
}

.about-image {
    align-self: center;
}

.about-image img {
    border-radius: 50%;
}

/* Login */

.login-body {
    margin-top: 20%;
}

.user-card-header {
    background-color: #121212;
    color: #d7d9d7;
}

.user-card-body {
    background-color: #121212;
}

.form-control {
    margin: 2em 0;
}

.user-button {
    background-color: #d7d9d7;
}

/* Register */

.reg-login {
    text-align: center;
}

/* added underline so link is obvious */
.reg-login a {
    text-decoration: underline;
}

/* Blogs */

.blogs-card {
    margin: 2em 0;
    text-align: center;
}

@media (min-width: 992px) {
    .blogs-card {
        height: 20vh;
    }
}

@media (min-width: 992px) {
    .blogs-title {
        font-size: 1.5em;
    }
}

.blogs-title {
    font-weight: bold;
}

.page-link,
.page-link:hover {
    background-color: #121212;
    color: #d7d9d7;
    border: none;
}

.page-item.disabled .page-link {
    background-color: #121212;
}

.pagination-col {
    display: flex;
    justify-content: center;
}

/* Blog */

.breadcrumb-row {
    display: flex;
    justify-content: center;
}

.breadcrumb {
    background-color: #121212;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.blog-title {
    height: 30%;
    text-align: center;
    align-items: center;
    color: #d7d9d7;
    font-size: 3em;
}

.blog-body {
    padding: 0 15%;
    text-align: center;
}


/* Footer */
#main-footer {
    height: 5%;
    margin-top: 2em;
    text-align: center;
}

.copywright-info {
    text-align: center;
}

.socials {
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.dev-icon a {
    padding-left: 1em;
}