{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Gallery{% endblock %}

{% block content %}
<section class="container">

    <div class="row">
        {% if images %}
            {% for image in images %}
                <div class="col-12 col-md-4 mx-auto">
                    <a>
                        <img src="{{ image.image }}" class='img-fluid' Image>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12 mx-auto">
                <p>No images available.</p>
            </div>
        {% endif %}
    </div>

</section>
{% endblock %}