{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Gallery{% endblock %}

{% block lightbox_css %}
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<section class="container">
    <div class='row gallery-text'>
        <div class='col-12'>
            <p>Welcome to my gallery. Take a look through some of my favourite images that I have captured
            throughout my photography journey. Each of these images were carefully thought out on
            location. From the framing and the composition, to waiting for light.</p>
            <p>Be sure to click on one of the images to view it full size. Click the arrows on your keyboard or
            swipe to scroll through them one by one. Click anywhere outside the pop-up to return to the gallery
            screen.</p>
        </div>
    </div>

    <div class="row">
        {% if images %}
            {% for image in images %}
                <div class="col-12 col-lg-4 mx-auto image-cols">
                    <div class="card gallery-cards">
                        <a data-lightbox='gallery' href='{{ image.image }}'>
                            <img src="{{ image.image }}" class="card-img-top img-fluid gallery-images"
                            alt="{{ image.image_description }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12 m x-auto">
                <p>No images available.</p>
            </div>
        {% endif %}
    </div>

</section>
{% endblock %}

{% block lightbox_js %}
<script src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}