{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Gallery{% endblock %}

{% block lightbox_css %}
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<section class="container">

    <div class="row">
        {% if images %}
            {% for image in images %}
                <div class="col-12 col-md-4 mx-auto image-cols">
                    <div class="card gallery-cards">
                        <a data-lightbox='gallery' href='{{ image.image }}'>
                            <img src="{{ image.image }}" class="card-img-top img-fluid" alt="{{ image.image_description }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12 m x-auto">
                <p>No images available.</p>
            </div>
        {% endif %}
    </div>

</section>
{% endblock %}

{% block lightbox_js %}
<script src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}