{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}{{ post.blog_title }}{% endblock %}

{% block content %}

    <section class="container">
        <!-- Breadcrumb -->
        <div class="row">
           <div class="col-12 breadcrumb-row">
                 <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'blogs' %}">Blog Home</a>
                        </li>
                        <li class="breadcrumb-item">{{ post.blog_title }}</li>
                    </ol>
                 </nav>
           </div>
        </div>

        <!-- Blog Title -->
        <div class="row blog-title">
            <div class="col-12">
                {{ post.blog_title }}
            </div>
        </div>

        <!-- Blog Body -->
        <div class="row blog-body">
            <div class="col-12">
                {{ post.blog_body }}
            </div>
        </div>

        <!-- Flashes alerts -->
        {% include 'partials/_alerts.html' %}

        <!-- Display Comments if available -->
        <div class="row">
            <h5>Comments</h5>
            {% if blog_comments %}
                {% for comment in blog_comments %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Posted By: {{ comment.comment_user.username }}</h5>
                            </div>
                            <div class="card-body">
                                <p>{{ comment.comment_body }}</p>
                                <p><small>{{ comment.date_posted }}</small></p>
                                {% if request.user == comment.comment_user %}
                                    <a href="{% url 'edit_comment' comment.id %}" class="btn">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <p>No comments on this blog post. Add a comment below to be the first.</p>
                        </div>
                    </div>

                </div>
            {% endif %}
        </div>

        <!-- Add Comments form. Should only display for logged in users. Otherwise prompt the user to logon or register-->

        <div class="row">
            <h5>Add Comment</h5>
            {% if user.is_authenticated %}
                <div class="col-12">
                    <div class="card-body">
                        <form action="{% url 'blog' post.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <!-- Pass through Blog Comment Form from blog view -->
                                {{ form }}
                            </div>
                            <input type="submit" value="Submit" class="btn btn-block user-button">
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <p>Only registered users are able to add comments.</p>
                            <p>Please <a href="{% url 'login' %}">Login</a> or
                                <a href="{% url 'register' %}">Register</a>.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </section>
{% endblock %}