{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}{{ post.blog_title }}{% endblock %}

{% block content %}

    <section class="container">
        <!-- Breadcrumb -->
        <div class="row">
           <div class="col-12 breadcrumb-row">
                 <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'blogs' %}">Blog Home</a>
                        </li>
                        <li class="breadcrumb-item">{{ post.blog_title }}</li>
                    </ol>
                 </nav>
           </div>
        </div>

        <!-- Blog Title -->
        <div class="row blog-title">
            <div class="col-12">
                {{ post.blog_title }}
            </div>
        </div>

        <!-- Blog Body -->
        <div class="row blog-body">
            <div class="col-12">
                {{ post.blog_body }}
            </div>
        </div>

        <!-- Flashes alerts -->
        {% include 'partials/_alerts.html' %}

        <!-- Display Comments if available -->
        <div class="row">
            {% if blog_comments %}
                {% for comment in blog_comments %}
                    <div class="col-12">
                        {{ blog_comments.comment_body }}
                        {{ blog_comments.date_posted }}
                        {{ blog_comments.comment_user.username }}
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-12">
                    No comments on this blog post.
                </div>
            {% endif %}
        </div>


        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-12">
                    <form action="{% url 'blog' blog_id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <!-- Pass through Blog Comment Form from blog view -->
                            {{ form }}
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="col-12">
                    Only registered users are able to add comments.
                    Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a>.
                </div>
            {% endif %}

        <!-- Add Comments form. Should only display for logged in users. Otherwise prompt the user to logon or register-->


        </div>

    </section>
{% endblock %}