{% extends 'base.html' %}

{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}
<section class="container login-body">
    <div class="row">
        {% for item in cart_items %}
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div style="background-image: {{ item.product.image }}"></div>
                </div>
                <div class="card-body">
                    <h5>{{ item.product.name }}</h5>
                    <p>{{ item.product.description }}</p>
                    <p>{{ item.quantity }}</p>
                    <p>{{ item.product.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <p>Total</p>
        <p>£{{ total }}</p>
    </div>
    <div class="row contact-row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header user-card-header">
                    <h5>Payment</h5>
                </div>
                <div class="card-body user-card-body">
                    <!-- Flashes alerts -->
                    {% include 'partials/_alerts.html' %}
                    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                        <legend>Payment Details</legend>
                        <div id="credit-card-errors" style="display: none">
                            <div class="alert-message block-message error" id="stripe-error-message"></div>
                        </div>
                        <!-- Hidden field to help prevent attacks -->
                        {% csrf_token %}
                        <div class="form-group col-12 col-md-6">
                            <!-- Pass through payment form from Checkout view -->
                            {{ payment_form }}
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <!-- Pass through order form from checkout view -->
                            {{ order_form }}
                        </div>
                        <input type="submit" name="commit" value="Submit Payment"
                               class="btn btn-block user-button" id="submit_payment_btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block stripe_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}