{% extends 'base.html' %}

{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}
<section class="container login-body">
    <div class="row checkout-total-row">
        <!-- Pass in the total to show how much paying -->
        <div>
            <h2>Total: £{{ total }}</h2>
        </div>

    </div>

    <!-- Pass in both forms within the same form tag so they are submitted together. -->
    <div class="row contact-row">
        <div class="col-12 mx-auto checkout-col">
            <div class="card checkout-card">
                <div class="card-header user-card-header">
                    <h3>Payment</h3>
                </div>
                <div class="card-body user-card-body">
                    <!-- Flashes alerts -->
                    {% include 'partials/_alerts.html' %}
                    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                        <!-- Hidden field to help prevent attacks -->
                        {% csrf_token %}
                        <!-- Pass through payment form from Checkout view -->
                        <div class="form-group">
                            <div class="card checkout-card">
                                <div class="card-body user-card-body">
                                    <h4>Please enter payment details below</h4>
                                    <div id="credit-card-errors" style="display: none">
                                        <div class="alert-message block-message error" id="stripe-error-message"></div>
                                    </div>
                                    {{ payment_form }}
                                </div>
                            </div>
                        </div>
                        <!-- Pass through order form from checkout view -->
                        <div class="form-group">
                            <div class="card checkout-card">
                                <div class="card-body user-card-body">
                                    <h4>Shipping/Billing Details</h4>
                                    {{ order_form }}
                                </div>
                            </div>
                        </div>
                        <input type="submit" name="commit" value="Submit Payment"
                               class="btn btn-block user-button" id="submit_payment_btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block stripe_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}