{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block title %}Store{% endblock %}

{% block content %}
<section class="container">
    <div class="row store-intro">
        <div class="col-12">
            <p>Welcome to my store. Here you can check out my selection of prints for sale. If there are any images
            you have seen on the Gallery that interest you and aren't in the store, please get in touch via the
                <a href="{% url 'contact' %}">Contact</a> page.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <!-- Flashes alerts -->
            {% include 'partials/_alerts.html' %}
        </div>
        {% if products %}
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4 mx-auto image-cols">
                    <div class="card store-cards">
                        <div class="card-body">
                            <img src="{{ product.image }}" class="card-img-top img-fluid" alt="{{ product.description }}">
                            <p class="store-price">£{{ product.price }}</p>
                            <form class="form-group" method="POST" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <input type="number" name="quantity" min="1" max="5"
                                       class="form-control store-form-item" placeholder="Quantity">
                                <button class="btn btn-form-control store-form-item atc-btn"
                                        type="submit">Add To Cart</button>
                            </form>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12 m x-auto">
                <p>No images available.</p>
            </div>
        {% endif %}
    </div>

</section>
{% endblock %}