{% extends 'base.html' %}

{% load static %}

{% block title %}Edit comment{% endblock %}

{% block content %}
<section class="container login-body">
    <div class="row contact-row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header user-card-header">
                    <h5>Edit Comment</h5>
                </div>
                <div class="card-body user-card-body">
                    <!-- Flashes alerts -->
                    {% include 'partials/_alerts.html' %}
                    <form action="{% url 'edit_comment' comment.id %}" method="POST">
                        <!-- Hidden field to help prevent attacks -->
                        {% csrf_token %}
                        <div class="form-group">
                            <!-- Pass through form from Contact view -->
                            {{ form }}
                        </div>
                        <input type="submit" value="Submit" class="btn btn-block user-button">
                    </form>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger del-com-btn" data-toggle="modal" data-target="#deleteModal">
                      Delete Comment
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>Are you sure you want to delete your comment?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger" href="{% url 'delete_comment' comment.id %}">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}